<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seuoj.seuojbackend.mapper.ContestProblemRelMapper">

    <select id="selectByContestId" resultType="com.seuoj.seuojbackend.entity.ContestProblemRel">
        SELECT id, contest_id, problem_id, sort_order, is_del
        FROM contest_problem_rel
        WHERE contest_id = #{contestId}
    </select>

    <update id="markDeletedByIds">
        UPDATE contest_problem_rel
        SET is_del = 1
        WHERE contest_id = #{contestId}
          AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="restoreByIdsWithSortOrders">
        UPDATE contest_problem_rel
        SET is_del = 0,
            sort_order = CASE id
            <foreach collection="rels" item="item">
                WHEN #{item.id} THEN #{item.sortOrder}
            </foreach>
            END
        WHERE contest_id = #{contestId}
          AND id IN
        <foreach collection="rels" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="updateSortOrdersByIds">
        UPDATE contest_problem_rel
        SET sort_order = CASE id
        <foreach collection="rels" item="item">
            WHEN #{item.id} THEN #{item.sortOrder}
        </foreach>
        END
        WHERE contest_id = #{contestId}
          AND id IN
        <foreach collection="rels" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

    <insert id="insertBatch">
        INSERT INTO contest_problem_rel (contest_id, problem_id, sort_order, is_del)
        VALUES
        <foreach collection="rels" item="item" separator=",">
            (#{item.contestId}, #{item.problemId}, #{item.sortOrder}, 0)
        </foreach>
    </insert>

</mapper>
